#Maven ignore
target/
classes/
*.class
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.log

#Elipse ignore
.settings/
.settings/*
**/.settings/*
.metadata/
.metadata/*
RemoteSystemsTempFiles/
.project
**/.project
.classpath
**/.classpath
Servers/

*.iml
*.ipr
*.iws
.idea
.idea/**

**/*.iml
**/*.ipr
**/*.iws
**/.idea
**/.idea/**

**/target/**

**/classes/**

# eclipse

.DS_Store
**/.DS_Store

**/**/target/

**/**/target/**

**/**/test.propertiess

key.txt